

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

#main {
    background-color: rgb(247, 250, 252);
    height: 100%;
}


/*==============================Header==============================================*/
header {
    border: 1px solid rgb(224, 224, 226);
    display: flex;
}

.actions, .functions {
    display: grid;
    width: 25%;
    grid-template-columns: repeat(3, 1fr);
}

.functions {
    margin-left: auto;
}

/*=================================Main Content =================================*/

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main > div > div{
    border: 1px solid rgb(224, 224, 226);
    height: 20rem;
    border-radius: 5px;
} 

.pt-container {
    
    margin: 1.5rem;
    margin-bottom: 2.5rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*==========================Side Main===========================================*/
.a-container, .tr-container {
    border: 1px solid rgb(224, 224, 226);
    height: 50rem;
    border-radius: 5px;
}

.a1 {
    height: 66%;
    border: 1px solid rgb(224, 224, 226);
}

.a2 {
    height: 33.3%;
    border: 1px solid rgb(224, 224, 226);
}

.tr1, .tr2, .tr3, .tr4 {
    height: 25%;
    border: 1px solid rgb(224, 224, 226);
}


/*=============================Navigation ==============================*/

nav {
    background-color: rgb(24, 23, 23);
}

nav div {
    display: flex;
}

nav div p, h3 {
    color: rgb(170, 168, 168);
}